<header class="header">
<div class="container header-container">
    <a class="header-logo" href="index.html">Lloyd<span class="highlit">Jefferson.</span>
    </a>
  <div class="header-wrap">
    <div class="icon-container">
        <div class="switch-container">
          <input type="checkbox" id="switch">  
          <label for="switch" class="label">
            <i class="ligth"></i>
            <i class="dark"></i>
          </label>
        </div>
    </div>
     <nav class="header-navigation">
        <ul class="header-list list">
            <li class="header-item"><a class="header-link" href="about-me">About me</a></li>
            <li class="header-item"><a class="header-link" href="my-projects">Projects</a></li>
            <li class="header-item"><a class="header-link" href="work-together">Contacts</a></li>
        </ul>
     </nav>
  </div>
</div>



</header>
