<header class="header" id="header">
  <div class="container header-container">
    <a class="header-logo" href="./index.html"
      >Lloyd<span class="highlit">Jefferson.</span>
    </a>
    <div class="header-wrap">
      <div class="icon-container">
        <div class="switch-container">
          <input
            type="checkbox"
            id="switch"
            aria-label="Переключить светлую/тёмную тему"
          />
          <label for="switch" class="label">
            <i class="ligth"></i>
            <i class="dark"></i>
          </label>
        </div>
      </div>
      <nav class="header-navigation">
        <ul class="header-list list">
          <li class="header-item">
            <a class="header-link" href="#about-me">About me</a>
          </li>
          <li class="header-item">
            <a class="header-link" href="#my-projects">Projects</a>
          </li>
          <li class="header-item">
            <a class="header-link" href="#order-project">Contacts</a>
          </li>
        </ul>
      </nav>
     
    </div>
     <button
        class="header-mobile-menu-open js-open-menu"
        aria-label="Open menu"
      >
        <svg class="burger-btn-menu" width="32" height="32">
          <use href="/img/icons.svg#burger-btn"></use>
        </svg>
      </button>
  </div>
</header>


<!-- Mobile menu -->
<div class="header-mobile-menu-container js-menu-container" id="mobile-menu">
  <div class="header-mobile-menu">
    <div class="header-container container">
      <div class="header-logo-container">
        <a class="header-logo header-mobile-logo" href="./about-me.html"
          >Lloyd<span class="highlight">Jefferson.</span>
        </a>
      </div>

      <button
        class="header-mobile-menu-close js-close-menu"
        aria-label="Close menu"
      >
        <svg width="32" height="32" class="menu-close-icon">
          <use href="/img/icons.svg#close-btn"></use>
        </svg>
      </button>
    </div>
    <div class="header-nav-menu-wrap">
      <nav class="header-mobile-navigation">
        <ul class="header-mobile-list">
          <li class="header-mobile-item">
            <a class="header-mobile-link" href="#about-me">About me</a>
          </li>
          <li class="header-mobile-item">
            <a class="header-mobile-link" href="#my-projects">Projects</a>
          </li>
          <li class="header-mobile-item">
            <a class="header-mobile-link" href="#order-project">Contacts</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</div>