<section class="hero">
  <div class="container hero-container">
    <div class="hero-title-link">
      <h1 class="hero-title">
        <span class="title-black">HELLO, I AM </span>
        <span class="accent-color-title">FULLSTACK DEVELOPER</span>
      </h1>
      <div class="hero-link">
        <a href="#work-together" class="custom-button">
          <svg class="button-ikon" width="28" height="28">
            <use href="./img/icons.svg#arrow-hero"></use>
          </svg>
          ORDER THE PROJECT
        </a>
      </div>
    </div>
    <div class="hero-content-img-box">
      <picture>
        <source
          srcset="/img/hero/hero@1x.jpg 1x, /img/hero/hero@2x.jpg 2x"
          media="(min-width: 1280px)"
        />
        <img
          class="hero-img"
          src="/img/hero/hero@1x.jpg"
          alt="Developer-of-a-man-with-beard"
          width="592"
          height="444"
          loading="lazy"
        />
      </picture>
      <p class="hero-subtitle-text">
        I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE
        <span class="accent-color-subtitle">IMPRESSIVE</span> AND<span
          class="accent-color-subtitle"
        >
          FUNCTIONAL WEBSITES</span
        >
        THAT REFLECT EACH CLIENT’S UNIQUE PERSONALITY.
      </p>
    </div>
  </div>
  <ul class="hero-socials">
    <li class="hero-socials-list-item">
      <a
        class="hero-socials-link"
        href="https://www.instagram.com/goitclub/"
        target="_blank"
        rel="noopener noreferrer"
        >Instagram</a
      >
    </li>
    <li class="hero-socials-list-item">
      <a
        class="header-socials-link"
        href="https://www.facebook.com/goITclub/"
        target="_blank"
        rel="noopener noreferrer"
        >Facebook</a
      >
    </li>
    <li class="hero-socials-list-item">
      <a
        class="header-socials-link"
        href="https://www.linkedin.com/school/goit-start-your-career-in-it "
        target="_blank"
        rel="noopener noreferrer"
        >Linkedin</a
      >
    </li>
    <li class="hero-socials-list-item">
      <a
        class="header-socials-link"
        href="https://annnaos.github.io/codeCreators-project/"
        target="_blank"
        rel="noopener noreferrer"
        >GitHub</a
      >
    </li>
  </ul>
</section>
