<section class="hero">
  <div class="container hero-container">
    <div class="hero-content-container">
      <h1 class="hero-title">
        <span class="title-black">HELLO, I AM </span>
        <span class="accent-color-title">FULLSTACK DEVELOPER</span>
      </h1>
      <div class="hero-social-link">
        <ul class="hero-socials">
          <li class="hero-socials-list-item">
            <a class="hero-socials-link" href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a>
          </li>
          <li class="hero-socials-list-item">
            <a class="header-socials-link" href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a>
          </li>
          <li class="hero-socials-list-item">
            <a class="header-socials-link" href="https://www.linkedin.com/school/goit-start-your-career-in-it " target="_blank">Linkedin</a>
          </li>
          <li class="hero-socials-list-item">
            <a class="header-socials-link" href="https://annnaos.github.io/codeCreators-project/" target="_blank">GitHub</a>
          </li>
        </ul>
      </div>
      <div class="hero-content-img-box">
         <picture>
          <source
              srcset=" 
                /img/hero/hero@1x-desk.jpg    1x,
                /img/hero/hero@2x-desk.jpg 2x
              "
              media="(min-width: 1280px)" />
            <source
              srcset="
                /img/hero/hero@1x-tab.jpg     1x,
                /img/hero/hero@2x-tab.jpg  2x
              "
              media="(min-width: 768px)" />
            <source
              srcset="
                /img/hero/hero@1x-mob.jpg     1x,
                /img/hero/hero@2x-mob.jpg  2x
              "
              media="(max-width: 767px)" />
        <img class="hero-img" src="../img/hero/hero@1x-desk.jpg" alt="Developer"/>
        </picture>
      </div>
      <div class="hero-button">
        <a href="#order-project" class="custom-button"><svg class="button-ikon" Width="28" Height="28"><use href="../img/icons.svg#arrow-hero"></use>
          </svg>ORDER THE PROJECT </a>
        
      </div>
      <div class="hero-subtitle">
        <p class="hero-subtitle-text">I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE<span class="accent-color-subtitle">IMPRESSIVE</span>AND<span class="accent-color-subtitle">FUNCTIONAL WEBSITES</span>THAT REFLECT EACH CLIENT’S UNIQUE PERSONALITY.</p>
    
      </div>
    </div>
  </div>
</section>
