.benefits {
  padding-top: 40px;
  padding-bottom: 40px;
}

.benefits-bg{
  display: none;
}

.benefits-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 40px;
}

.green-title {
  color: var(--title-accent-green-color);
}

.benefits-list {
  font-family: 'Poppins', sans-serif;
}

.benefits-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
  margin-bottom: 16px;
  margin-top: 16px;
}

.benefits-item-description {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

ul .benefits-item:not(:last-child) {
  margin-bottom: 32px;
}

.benefits-item-icon {
  background-color: var(--tech-skills-green);
  border-radius: 8px;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits-icon {
  stroke: var(--title-accent-green-color);
  fill: none;
}


@media screen and (min-width: 768px) {
  .benefits {
    padding-top: 62px;
    padding-bottom: 62px;
  }

  .benefits-title {
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
    margin-bottom: 0;
  }

  .benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
  }

  .benefits-item {
    width: 336px;
  }

  .benefits-list > :first-child {
    margin-left: 368px;
  }
  .benefits-subtitle {
    font-size: 20px;
    line-height: 1.6;
  }

  ul .benefits-item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .benefits {
    position: relative;
    padding-top: 48px;
    padding-bottom: 82px;
  }

  .benefits-title {
    max-width: 736px;
    min-width: 681px;
    margin-bottom: -96px;
  }

  .benefits-list > :first-child {
    margin-left: 832px;
  }

  .benefits-item {
    width: 384px;
  }

  
 

.benefits-container{
    position: relative;
    background-image: url(/img/bg/decor-bg3@1x-desk.png);
    background-repeat: no-repeat;
    background-position: 722px top;
    padding-top: 116px;
    background-size: 526px;
    /* margin-top: -116px; */
  }

  
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .benefits-container {
      background-image: url(/img/bg/decor-bg3@2x-desk.png);
    }
  } 

}